@page "/VizualizareReclamatii"
@using ProiectBD.Data;
@using ProiectBD.Pages.VizualizareReclamatii;
@model IndexModel
@{
    ViewData["Title"] = "Vizualizare reclamatii";
    ViewData["Description"] = "Lista tuturor reclamatiilor";
}

<div class="text-center">
    <h1 class="display-4 text-uppercase">@ViewData["Title"]</h1>
    <h2>@ViewData["Description"]</h2>

    <div class="mt-5 table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id reclamatie</th>
                    <th scope="col">Informatii</th>
                    <th scope="col">Data inregistrare</th>
                    <th scope="col">Data solutionare</th>
                    <th scope="col">Id client</th>
                    <th scope="col">Nume</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Telefon</th>
                    <th scope="col">Tip persoana</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reclamatie in Model.Reclamatii)
                {
                    <tr>
                        <td>@reclamatie.IdReclamatie</td>
                        <td>@reclamatie.Informatii</td>
                        <td>@reclamatie.DataInregistrare</td>
                        <td>@reclamatie.DataSolutionare</td>
                        <td>@reclamatie.IdClient</td>
                        <td>@reclamatie.Nume</td>
                        <td>@reclamatie.Email</td>
                        <td>@reclamatie.Telefon</td>
                        <td>@reclamatie.TipPersoana</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
