@page "/Reclamatii"
@using ProiectBD.Data;
@using ProiectBD.Pages.Reclamatii;
@model IndexModel
@{
    ViewData["Title"] = "Reclamatii";
    ViewData["Description"] = "Lista tuturor reclamatiilor";
}

<div class="text-center">
    <h1 class="display-4 text-uppercase">@ViewData["Title"]</h1>
    <h2>@ViewData["Description"]</h2>

    <div class="mt-5 table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Id client</th>
                    <th scope="col">Informatii</th>
                    <th scope="col">Data inregistrare</th>
                    <th scope="col">Data solutionare</th>
                    <th scope="col" colspan="2">Actiune</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reclamatie in Model.Reclamatii)
                {
                    <tr>
                        <td>@reclamatie.Id</td>
                        <td>@reclamatie.IdClient</td>
                        <td>@reclamatie.Informatii</td>
                        <td>@reclamatie.DataInregistrare.ToString("dd.MM.yyyy")</td>
                        <td>@reclamatie.DataSolutionare?.ToString("dd.MM.yyyy")</td>
                        <td><a asp-page="/Reclamatii/Modifica" asp-route-id="@reclamatie.Id" class="text-decoration-none text-success">Modifica</a></td>
                        <td><a asp-page="/Reclamatii/Sterge" asp-route-id="@reclamatie.Id" class="text-decoration-none text-danger">Sterge</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <form class="d-flex gap-2" method="get">
        <select class="form-select" name="orderBy" id="inputOrderBy" title="Sorteaza dupa coloana">
            <option value="NESORTAT" selected="@(Model.OrderBy == "NESORTAT" ? "selected" : null)">NESORTAT</option>
            @foreach (var column in Reclamatie.Columns.SortableColumns)
            {
                <option value="@column" selected="@(Model.OrderBy == @column ? "selected" : null)">@column</option>
            }
        </select>

        <select class="form-select" name="orderDir" id="inputOrderDir" title="Sensul sortarii">
            <option value="ASC" selected="@(Model.OrderDir == "ASC" ? "selected" : null)">CRESCATOR</option>
            <option value="DESC" selected="@(Model.OrderDir == "DESC" ? "selected" : null)">DESCRESCATOR</option>
        </select>

        <button type="submit" class="btn btn-primary">Sorteaza</button>
    </form>
</div>
